.login-page {
  width: 100vw;
  height: 100vh;

  @media (max-width: 1023px) {
    flex-wrap: wrap;
  }

  &--left {
    width: 70%;

    .box-content {
      width: 598px;
      padding: 100px 60px;

      @include flex(center);

      @media (max-width: 1189px) {
        width: 500px;
      }
    }

    @media (max-width: 1023px) {
      width: 100%;
    }

    .input-custom {
      max-width: unset !important;
      width: 100%;
    }
  }

  &--right {
    width: 30%;
    height: 100%;
    background-color: #FFDEB0;
    position: relative;

    svg {
      position: absolute;
      bottom: 70px;
      right: 30%;
      width: 600px;

      @media (max-width: 1659px) {
        width: 500px;
      }

      @media (max-width: 1474px) {
        width: 400px;
      }

      @media (max-width: 1289px) {
        bottom: 50%;
        right: 15%;
        transform: translateY(50%);
      }

      @media (max-width: 1189px) {
        width: 300px;
        right: 30%;
      }
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }
}
