.danh-sach-sinh-vien {
  table {
    thead {
      tr {
        th {
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8) {
            text-align: center !important;
          }
        }
      }
    }
  }
}

.modal-preview-room.quan-ly-sinh-vien {
  .modal-preview-room--content__right {
    max-height: unset !important;
    padding-right: 0;
    margin-right: 0;
  }
}
