.quan-ly-tai-khoan {
  .nav {
    border-bottom: 1px solid var(--color-light-black);
  }

  .nav-link {
    height: 46px;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: var(--color-black) !important;
    border-bottom: 3px solid transparent;
    background-color: var(--color-white) !important;

    @include flex(center, center);

    &.active {
      color: var(--color-primary) !important;
      border-color: var(--color-primary);
    }
  }

  .thong-tin-ca-nhan {
    .avt {
      width: 150px;
      height: 150px;
      padding: 10px;
      border: 3px dashed var(--color-secondary);
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
