.quan-ly-chuc-vu {
  .nav {
    width: fit-content;
    background-color: var(--color-pale-black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }

  .nav-link {
    height: 46px;
    background-color: var(--color-pale-black);
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: var(--color-black) !important;

    @include flex(center, center);

    &.active {
      background-color: var(--color-light-black);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .danh-sach-chuc-vu {
    table.table {
      thead > tr {
        th {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            text-align: center !important;
          }

          &:nth-child(5),
          &:nth-child(6) {
            & > span {
              display: none !important;
            }
          }

          &:nth-child(5),
          &:nth-child(6) {
            width: 85px !important;
          }
        }
      }

      .btn-action {
        padding: 5px;
        border-radius: 5px;
        background-color: var(--color-blue);

        @include flex(center, center);

        &.delete {
          background-color: var(--color-red);
        }

        svg {
          width: 18px !important;
          height: 18px !important;
        }
      }
    }
  }
}

.modal-preview-room.quan-ly-chuc-vu {
  .modal-preview-room--content__right {
    padding-right: 0;
    margin-right: 0;
    max-height: unset !important;
    overflow: unset !important;
    margin-left: 15px;
  }
  
  .input-custom {
    flex-wrap: wrap !important;

    .form-label {
      width: 120px;
    }

    .form-error-msg {
      width: 100%;
      padding-left: 130px;
    }
  }
}